.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .email {
        font-size: 1.4rem;
        color: var(--accent);
        text-decoration: none;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        margin: 2rem .25rem 0;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
}
