<h2>Обо мне</h2>

<div class="about-grid">
    <picture class="avatar">
        <img src="/avatar.png" alt="аватарка" />
    </picture>

    <div class="facts">
        <div class="facts__item">
            <h3 class="color--accent">📍 Живу</h3>

            <p>Санкт-Петербург, Россия</p>
        </div>

        <div class="facts__item">
            <h3 class="color--accent">🧑‍💻 Специализация</h3>

            <ul>
                <li>Веб-разработка</li>
                <li>Frontend-разработка</li>
                <li>Администрирование Linux (Arch и Debian)</li>
            </ul>
        </div>

        <div class="facts__item">
            <h3 class="color--accent">📚 Опыт</h3>

            <p>Более 5 лет в веб-разработке</p>
        </div>

        <div class="facts__item">
            <h3 class="color--accent">🎓 Образование</h3>

            <p>Университет ИТМО, бакалавриат 2016-2020</p>
        </div>
    </div>
</div>
